.panel-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle-container h2 {
	text-align: center;
}

.triangle {
	padding:24px;
  fill: transparent;
  stroke: black;
  stroke-width: 8;
  transition: all 0.8s ease-in-out;
}