<div data-ts="Board">
	<div data-ts="Panel">
		<form data-ts="Form">
			<fieldset>
				<label {% if errorA %}class="ts-error"{% endif %}>
					<span>Side A:</span>
					<input id="sideA" type="number" value="{{valueA}}" required/>
				</label>
				{% if errorA %}
				<dl class="ts-errors">
					<dt>Enter a number above</dt>
				</dl>
				{% endif %}
			</fieldset>
			<fieldset>
				<label {% if errorB %}class="ts-error"{% endif %}>
					<span>Side B</span>
					<input id="sideB" type="number" value="{{valueA}}" required/>
				</label>
				{% if errorB %}
				<dl class="ts-errors">
					<dt>Enter a number above</dt>
				</dl>
				{% endif %}
			</fieldset>
			<fieldset>
				<label {% if errorC %}class="ts-error"{% endif %}>
					<span>Side C</span>
					<input id="sideC" type="number" value="{{valueA}}" required/>
				</label>
				{% if errorC %}
				<dl class="ts-errors">
					<dt>Enter a number above</dt>
				</dl>
				{% endif %}
			</fieldset>
			{% if mainError %}
			<div>
				<dl class="ts-errors">
					<dt>Not a valid triangle</dt>
				</dl>
			</div>
			{% endif %}
			<button id="submit" data-ts="Button" class="ts-primary">
				<span>Get Type</span>
			</button>
		</form>
	</div>
</div>