<div data-ts="Board">
	<div data-ts="Panel">
		<form data-ts="Form">
			<fieldset>
				<label>
					<span>Side A</span>
					<input type="number" required/>
				</label>
			</fieldset>
			<fieldset>
				<label>
					<span>Side B</span>
					<input type="number" required/>
				</label>
			</fieldset>
			<fieldset>
				<label>
					<span>Side C</span>
					<input type="number" required/>
				</label>
			</fieldset>
			<button data-ts="Button" class="ts-primary">
				<span>Get Type</span>
			</button>
		</form>
	</div>
</div>